/*
 * SEARCH AUTOCOMPLETE (version 7.3-x)
 *
 * @authors
 * Miroslav Talenberg (Dominique CLAUSE) <http://www.axiomcafe.fr/contact>
 *
 * Sponsored by:
 * www.axiomcafe.fr
 */
 
 /**
  * THEME FULL PAPER BROWN
  */ 

  
/* AUTOCOMPLETE 
----------------------------------*/
.ui-autocomplete { position: absolute; cursor: default; }	
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */
.ui-autocomplete-input {
  background-image: url("images/throbber.gif");
  background-position: 100% 4px;
  background-repeat: no-repeat;
}
.ui-autocomplete-loading {
  background-image: url("images/throbber.gif");
  background-position: 100% -16px;
  background-repeat: no-repeat;
}
.ui-menu {
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
	float: left;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:.2em .4em;
	line-height:1.5;
	zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
}


/*!
 * jQuery UI Autocomplete 1.8.22
 *
 * LIGHTNESS PAPER GINGER
 *
 * Copyright 2012
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */
 
 /* Component containers */
#ui-theme-full-paper-brown { font-family: Verdana,Arial,sans-serif; font-size: 1.1em; border: 1px solid #d9d6c4; background: #eceadf url(images/ui-bg_fine-grain_10_eceadf_60x60.png) 50% 50% repeat; color: #1f1f1f; }
#ui-theme-full-paper-brown. a { color: #1f1f1f; }

/* Interaction states */
#ui-theme-full-paper-brown .ui-state-hover { border: 1px solid #654b24; background: #654b24 url(images/ui-bg_fine-grain_65_654b24_60x60.png) 50% 50% repeat; font-weight: bold; color: #ffffff; }
#ui-theme-full-paper-brown .ui-state-hover a, #ui-theme-full-paper-brown .ui-state-hover a:hover { color: #ffffff; text-decoration: none; }

/* Corner radius */
#ui-theme-full-paper-brown .ui-corner-all { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -khtml-border-top-left-radius: 5px; border-top-left-radius: 5px; }
#ui-theme-full-paper-brown .ui-corner-all { -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; -khtml-border-top-right-radius: 5px; border-top-right-radius: 5px; }
#ui-theme-full-paper-brown .ui-corner-all { -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; -khtml-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; }
#ui-theme-full-paper-brown .ui-corner-all { -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; -khtml-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }
