/******************************* 
	header.css
 Stylesheet for the UBC CLF Global Utility Header, Visual Identity Header,
 and MegaMenus.
 *******************************/

/* ------ UBC CLF Global Utility Header ------ */

#UbcToolBarWrapper {
	height: 33px;
	background: #d1d9de;
	min-width: 980px;
}

#UbcToolBar {
	width: 980px;
	margin: 0 auto 0 auto;
}

#UbcToolNavWrapper {
	float: right;
	margin: 0;
	height: 33px;
}

#UbcToolNav {
	margin: 0;
	float: left;
}

#UbcToolNav li {
	float: left;
	height: 25px;
	padding: 5px 7px 0 0;
	list-style-type:none;
}

#UbcToolNav li a {
	display: block;
	height: 28px;
	text-indent: -5000px;
}

#UbcToolNav li a#UbcCampusLinks {
	width: 89px;
	background: url(../images/header/campusesBtn.gif) no-repeat;
}

#UbcToolNav li a#UbcCampusLinks.UbcSelected {
	background-position: 0 -28px;
}

#UbcToolNav li a#UbcDirectLinks {
	width: 114px;
	background: url(../images/header/directoryBtn.gif) no-repeat;
}

#UbcToolNav li a#UbcDirectLinks.UbcSelected {
	background-position: 0 -28px;
}

#UbcToolNav li a#UbcQuickLinks {
	width: 115px;
	background: url(../images/header/quickLinkBtn.gif) no-repeat;
}

#UbcToolNav li a#UbcQuickLinks.UbcSelected {
	background-position: 0 -28px;
}

#UbcToolNav li.UbcForm {
	padding-left: 6px;
	border-left: 1px solid #bcc3c7;
}

#UbcSearchForm {
    border-left: 1px solid #BCC3C7;
    float: left;
    padding-left: 8px;
    height: 33px;
}

/* overrides margins set by system CSS files */
.search-form {
	margin: 5px 0 0;
}

#UbcSearchForm .form-type-textfield, #UbcSearchForm #edit-actions {
	display: inline;
}

#UbcSearchForm input.form-text {
    background: url("../images/header/searchBox.gif") no-repeat scroll 0 0 transparent;
    border: medium none;
    width: 194px;
    height: 22px;
    padding-left: 24px;
}

#UbcSearchForm input.form-submit {
	background: url("../images/header/searchButton.gif") no-repeat scroll 0 0 transparent;
	text-indent: -5000px;
	border: 0 none;
	height: 22px;
	width: 27px;
	cursor: pointer;
}

#UbcSearchForm fieldset.custom_search-popup {
	border: none;
	background-color: #D1D9DE;
}

#UbcSearchForm fieldset.custom_search-popup .form-item {
	margin: 0;
}

/* ------ UBC CLF Visual Identity Header ------ */
#UbcHeaderWrapper {
	height: 98px;
	background-color: #002859;
	width: 980px;
	margin: 0 auto 0 auto;
}

#UbcHeader {
	width: 980px;
	margin: 0 auto 0 auto;
	padding: 0;
}

#UbcHeader li {
	float: left;
	height: 98px;
	list-style-type:none;
}

#UbcHeader li a {
	margin: 0;
	padding: 0;
	display: block;
	height: 98px;
	text-indent: -5000px;
}

#UbcHeader li a#UbcLogo {
	width: 94px;
	background: url(../images/header/ubcLogo.gif) no-repeat;
	border-right: 3px solid #fff;
}

#UbcHeader li a#UbcMindLink {
	border-right: 3px solid #fff;
	width: 187px;
	background: url(../images/header/PlaceOfMind-Gif-V04-on.gif) no-repeat;
}

#UbcHeader li a#UbcMindLink.selected {
	background: url(../images/header/placeOfMind.gif) no-repeat;
}

#UbcHeader li a#UbcHeaderLine {
	background: url(../images/header/ubcHeader.jpg) no-repeat;
	width: 201px;
}

#UbcHeader li a#UbcSubUnitLine {
	background: url(../images/header/ubcSubUnit.jpg) no-repeat;
	width: 492px;
}

/* ------ UBC CLF MegaMenus ------ */

#UbcMegaMenuesWrapper {
	border: none;
	position: relative;
	display: none;
	overflow: hidden;
	background: 
		url(../images/header/megaMenuBottomBg.gif) bottom left repeat-x,
		url(../images/header/megaMenuTopBg.gif) top left repeat-x,
		#002859;
	width: 980px;
	margin: 0 auto;
	-pie-background: 
		url(/sites/all/themes/ubc_clf/images/header/megaMenuBottomBg.gif) bottom left repeat-x,
		url(/sites/all/themes/ubc_clf/images/header/megaMenuTopBg.gif) top left repeat-x,
		#002859;
	behavior: url(/sites/all/libraries/PIE/PIE.htc);
}

#UbcMegaMenuesWrapper.UbcMindLink {
	background:
		url(../images/header/rssBgBottom.gif) bottom left repeat-x,
		url(../images/header/rssBgTop.gif) top left repeat-x,
		#005893;
	color: #fff;
	-pie-background:
		url(/sites/all/themes/ubc_clf/images/header/rssBgBottom.gif) bottom left repeat-x,
		url(/sites/all/themes/ubc_clf/images/header/rssBgTop.gif) top left repeat-x,
		#005893;
	behavior: url(/sites/all/libraries/PIE/PIE.htc);
}

.UbcMegaMenues {
	position: relative;
	padding: 20px 0 20px;
	width: 720px;
	margin: 0 auto;
}

.UbcCloseBtn a {
	position: absolute;
	top: 20px;
	right: 20px;
	color: #fff;
	text-decoration: none;
	font-size: 90%;
}

.UbcCloseBtn a:hover {
	text-decoration: underline;
}

.UbcMegaMenues ul {
	margin: 0;
	padding: 0;
}

.UbcMegaMenues li.UbcMenuSection {
	float: left;
	width: 220px;
	padding: 0 20px 0px 0;
	text-align: left;
	list-style-type: none;
}

.UbcMegaMenues li.UbcMenuSection h3 {
	font-size: 120%;
	color: #e3e3e3;
	margin: 6px 0 2px;
}

.UbcMegaMenues li.UbcMenuSection p {
	color: #8f8f8f;
	font-size: 100%;
	line-height: 1.5em;
	padding: 0.4em 0 0.4em;
	margin: 0;
}

.UbcMegaMenues li.UbcMenuSection a {
	color: #e3e3e3;
	font-size: 100%;
	text-decoration: none;
}

.UbcMegaMenues li.UbcMenuSection a.bluelink {
	color: #708EA1;
}

.UbcMegaMenues li.UbcMenuSection a:hover {
	text-decoration: underline;
}

.UbcMegaMenues div.UbcMenuSectionBox {
	border-top: 1px solid #415f78;
	border-bottom: 1px solid #415f78;
}

.UbcMegaMenues div.UbcMenuSectionTop {
	border-top: 1px solid #415f78;
}

.UbcMegaMenuesPOM {
	width: 980px;
	margin: 0 auto;
}

.UbcMegaMenuesPOM .UbcPMCallout {
	width: 295px;
	float: left;
	padding: 50px 20px 50px 20px;
	text-align: left;
}

.UbcMegaMenuesPOM .UbcPMCallout h2 {
	width: 282px;
	height: 85px;
	text-indent: -5000px;
	background: transparent url(../images/header/placeOfMindCallout.gif) no-repeat;
}

.UbcMegaMenuesPOM .UbcPMCallout a {
	display: block;
	width: 114px;
	height: 30px;
	text-indent: -5000px;
	background: transparent url(../images/header/placeOfMindLearnMoreBtn.gif) no-repeat;
	margin: 15px 0 0 0;
}

.UbcMegaMenuesPOM .UbcRSS {
	width: 635px;
	float: left;
}

.UbcMegaMenuesPOM .UbcRSS li.RSS {
	width: 165px;
	padding: 20px 20px 20px 10px;
	border-left: 1px solid #004472;
	float: left;
	line-height: 1.5em;
	list-style-type: none;
}

.UbcMegaMenuesPOM .UbcRSS li.RSS p.date {
	font-style: italic;
}

.UbcMegaMenuesPOM .UbcRSS li.RSS h3 a {
	text-decoration: none;
	font-size: 1.18em;
	color: #E3E3E3;
}

.UbcMegaMenuesPOM .UbcRSS li.RSS a {
	font-weight: bold;
	color: #e3e3e3;
}

.UbcMegaMenuesPOM .UbcRSS li.RSS a:hover {
	text-decoration: none;
}
